/***
Z Index index
***/

$zindex: (
    languageIcon       : -1,
    mobileBtn          : 1,
    mobileMenu         : 101,
    productNav         : 11,
    languageSelector   : 10,
    navigation         : 101,
    modal              : 102,
    pageLoading        : 99,
    homePagination     : 98,
    bgScreen           : 112,
    bgScreen-device    : 102,
    nav                : 114,
    search             : 115,
);