.chat-module {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 5%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px 5px 0 0;
    width: 380px;
    max-width: 90%;
    box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(100%);
    transition: transform 400ms ease-in-out;
    &.show {
      transform: translateY(0%);
    }
    &.unavailable {
        .hide-un {
            display:none;
        }
        .form-container {
            p {
                font-size: 18px;
                &.disclosures {
                    font-size: 18px;
                }
            }
        }
    }
    .chat-header {
        background: $blue;
        color: #fff;
        padding: 5px 5px 5px 30px;
        display: flex;
        justify-content: space-between;
        h3 {
            margin: 0px;
            font-size: 18px;
            letter-spacing: .6px;
        }
    }
    .form-container {
        form {
            padding-top: 0px;
        }
        .row {
            padding:10px 0;
            .form-label-group input[type="text"] {
                height: 50px;
            }
        }
        p {
            font-size: 16px;
            &.disclosures {
                font-size: 14px;
            }
        }
        .container {
            padding-bottom: 20px;
            .pristine-error {
                padding-top: 3px;
            }
            input[type="submit"] {
                margin: 0px 10px 0 0;
                &[disabled] {
                    background: #ccc;
                    border: none;
                }
            }
        }
    }
}