.bh-16 {
    padding-top: rem(30);
    padding-bottom: rem(30);

    &__inputs {
        h3 {
            margin-top: rem(25);
            margin-bottom: rem(30);
        }
        .eyebrow {
            display: block;
            padding: 0 rem(20) rem(15) rem(5);
        }
        label {
            display: block;
            font-family: $font-subheading;
            font-size: 16px;
            opacity: $copy-opacity;
            margin-top: rem(25);
            margin-bottom: rem(10);
        }
        .input-wrap {
            width: 100%;
            max-width: 328px;
            padding: 0 rem(25);
            // margin-bottom: rem(25); // moved to label margin-top, to allow for errors below input fields
            height: 50px;
            border: 1px solid transparent;
            border-radius: rem(32);
            box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.16);
            background-color: $white;
            display: flex;
            align-items: center;
            &__invalid {
                border: 1px solid #FF3529;
                background-color: #FFF0F0;
                input {
                    &.right-border {
                        border-right: 1px solid #FF3529;
                    }
                }
            }
        }
        .error {
            color: #FF3529;
        }
        .currency-symbol {
            margin-right: rem(4);
            color: $body-gray;
            opacity: $copy-opacity;
            padding-bottom: rem(3);
        }
        input {
            width: 100%;
            color: $body-gray;
            opacity: $copy-opacity;
            border: 0;
            height: 47px;
            background: transparent;
            &.right-border {
                border-radius: 0;
                border-top: 0;
                border-bottom: 0;
                border-left: 0;
                border-right: 1px solid $medium-grey;
            }
            &.down-payment-percent {
                text-align: right;
                width: rem(40);
                padding-left: rem(8);
                padding-right: rem(8);
            }
        }
		a.qc-link-margin {
			margin-left: rem(15);
		}
        .select-wrap {
            position: relative;
            max-width: 328px;
            select {
                display: block;
                width: 100%;
                padding: rem(17) rem(30);
                margin-bottom: rem(35);
                font-family: $font-body;
                font-weight: 500;
                color: $body-gray;
                cursor: pointer;
                outline: 0;
                border: 1px solid $body-gray;
                border-radius: 41px;
                background: #ffffff;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                &:focus {
                    outline:none; 
                    border:1px solid $body-gray;
                    -webkit-box-shadow: 0px 0px 5px $body-gray;
                    box-shadow: 0px 0px 5px $body-gray;
                }
            }
            select::-ms-expand {
                display: none;
            }
            .select-arrow {
                position: absolute;
                top: rem(22);
                right: rem(20);
                width: 0px;
                height: 0px;
                border: solid #7b7b7b;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
            }
            &.select-dropdown {
                @include media-breakpoint-up(lg) {
                    max-width: rem(232);
                }
            }
        }
    }

    &__results {
        &-inner {
            // max-width: rem(433); // causes large numiber to be off center
            margin: rem(40) auto 0;
            padding: rem(50) rem(60) rem(50);
            border-radius: 8px;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
            border: solid 1px rgba(78, 76, 78, 0.1);
            position: sticky;
            top: 10px;
            .payments-header {
                display: block;
                text-align: center;
            }
            .payment-info {
                text-align: center;
                padding-bottom: rem(35);
                h3 {
                    margin-top: rem(70);
                    margin-bottom: rem(20);
                    // change from :first-letter to :before 
                    // because apparently a dollar sign is not a letter in firefox and for 
                    // some reason it applies the padding-right to the whole element.
                    // TODO: `vertical-align: super` brings the dollar sign a bit too far up.
                    &:before { 
                        content: '$';
                        font-size: 55%;
                        padding-right: rem(5);
                        vertical-align: super;
                    }
                }
                span {
                    display: block;
                }
            }

            .payment-table { 
                width: 80%;
                border-collapse: collapse;
                margin-top: rem(60);
                tr {
                    line-height: 200%;
                    border-bottom: 1px solid #dfdfdf; // XXX Why doesn't this work?
                }
                .paymount-amount {
                    font-family: $font-heading;
                    font-weight: 500;
                }
            }

            // .term__items {
            //     margin-top: auto;
            //     &-item {
            //         span {
            //             display: block;
            //             &.term-header {
            //                 font-family: $font-subheading;
            //                 opacity: $copy-opacity;
            //                 line-height: 1.5;
            //             }
            //             &.term-value {
            //                 font-weight: 500;
            //             }
            //         }

            //     }
            // }
            @include media-breakpoint-up(md) {
                margin-top: rem(50);
                padding: rem(60);
            }
            @include media-breakpoint-up(lg) {
                margin-top: rem(50);
                padding: rem(80) rem(60) rem(70);
            }
        }
    }

    &__disclaimer {
        padding: rem(50) 0;
        font-size: 85%; 
    }
    @include media-breakpoint-up(md) {
        padding-top: rem(40);
        padding-bottom: rem(40);
    } 
    @include media-breakpoint-up(lg) {
        padding-top: rem(60);
        padding-bottom: rem(60);
    } 
}
