.bh-13 {
    position: relative;
    &__container {
        padding-top: rem(50);
        padding-bottom: 14.5%;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        min-height: rem(420);
        display: flex;
        align-items: center;
        video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            transform: translateX(-50%) translateY(-50%);
        }
        &-content {
            .eyebrow {
                display: block;
                text-align: center;
            }
            &-title {
                margin-top: rem(15);
                margin-bottom: rem(2);
                line-height: 1.1;
                text-align: center;
                @include media-breakpoint-up(gmd) {
                    margin-bottom: rem(25);
                }
                @include media-breakpoint-up(gt-md) {
                    margin-bottom: rem(15);
                }
            }
            &-copy {
                font-family: $font-subheading;
                opacity: $copy-opacity;
                margin-top: rem(5);
                padding-bottom: rem(30);
                text-align: center;
            }
        }
        @include media-breakpoint-up(md) {
            align-items: flex-end;
            padding-bottom: 16.5%;
        }
        @include media-breakpoint-up(gt-md) {
            padding-top: rem(55);
            min-height: rem(500); 
        }
    }
    &__subContainer {
        padding-top: rem(35);
        &-img-contain {
            margin-top: -24.6%;
            padding-right: rem(21) !important;
            padding-left: rem(21) !important;
            margin-bottom: rem(13);
            img {
                border-radius: rem(17);
                box-shadow: 8px 8px 50px 0 rgba(0, 0, 0, 0.2);
            }
            @include media-breakpoint-up(md) {
                margin-top: -18.6%;
            }
        }
        &-content {
            padding-top: rem(10);
            text-align: center;
            p {
                font-size: 16px;
                opacity: $copy-opacity;
            }
            .btn {
                margin: rem(20) rem(10);
            }
        }
    }
}