.bh-10 {
    &__container {
        padding-left: rem(25);
        padding-right: rem(25);
        &-headline {
            padding: rem(20) 0 0;
            
            .eyebrow {
                display: block;
            }
        }
        &-accordion {

            .accordion__heading {
                border-top: $section-border;
                padding: rem(40) 0 rem(20) 0;
                margin: 0;
                &:first-of-type {
                    border-top: none;
                }
            }

            .accordion__trigger {
                font-size: rem(36);
                padding-right: rem(30);
                position: relative;
                &:after {
                    font-family: 'boh-icons';
                    content: '\E004';
                    font-size: 13px;
                    position: absolute;
                    right: 1em;
                    top: calc(50% - 7px);
                    transition: transform .2s ease-in-out;
                    transform-origin: center center;
                    transform: rotate(90deg);
                }
                &[aria-expanded="true"] {
                    &:after {
                        top: calc(50% - 7px);
                        transform: rotate(-90deg);
                    }
                }
                @include media-breakpoint-up(gt-md) {
                    font-size: rem(46);
                }
            }

            .accordion__panel {
                
                .step {
                    &__headline {
                        margin-bottom: rem(10);
                    }
                }
                p {
                    font-size: rem(16);
                    line-height: 1.5;
                    opacity: $copy-opacity;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
                &[aria-hidden=true] {
                    padding-bottom: 0;
                }
                &[aria-hidden=false] {
                    padding-bottom: rem(60);
                    @include media-breakpoint-up(gt-md) {
                        padding-bottom: rem(80);
                    }
                }              

            }
        }
        @include media-breakpoint-up(md) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}