.bh-22 {
    position: relative;
    &__container {
        border-radius: 8px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
        border: solid 1px rgba(78, 76, 78, 0.1);
        background-color: $white;
        padding-bottom: rem(60);
        @include media-breakpoint-up(md) {
            padding-bottom: rem(80);
        }
    }
    &__hero-container,
    .bh-13__container {
        padding-top: rem(50);
        padding-bottom: 14.5%;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        min-height: rem(336);
        display: flex;
        align-items: center;
        border-top-left-radius: rem(8);
        border-top-right-radius: rem(8);
        &-content {
            width: 100%; 
            .eyebrow {
                text-align: center;
            }
            &-title {
                margin-top: rem(20);
                margin-bottom: rem(2);
                line-height: 1.1;
                text-align: center;
                font-size: 36px;
                @include media-breakpoint-up(md) {
                    margin-top: rem(16);
                    margin-bottom: rem(5);
                    font-size: 36px;
                }
                @include media-breakpoint-up(lg) {
                    margin-top: rem(23);
                    margin-bottom: rem(6);
                    font-size: 46px;
                }
                @include media-breakpoint-up(fullscreen) {
                    margin-bottom: rem(10);
                    font-size: 56px;
                }
            }
            &-copy {
                font-family: $font-body;
                opacity: $copy-opacity;
                margin-top: rem(5);
                padding-bottom: rem(20);
                text-align: center;
                font-size: 14px;
                line-height: 25px;
                @include media-breakpoint-up(md) {
                    font-size: 17px;
                    padding-bottom: rem(10);
                }
                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                    padding-bottom: rem(12);
                }
            }
        }
        @include media-breakpoint-up(md) {
            align-items: flex-end;
            min-height: rem(280);
        }
        @include media-breakpoint-up(lg) {
            padding-top: rem(55);
            min-height: rem(379); 
        }
        @include media-breakpoint-up(fullscreen) {
            padding-bottom: 10%;
        }
    }
    .bh-13__subContainer {
        padding-top: rem(70);
        @include media-breakpoint-up(md) {
            padding-top: rem(10);
        }
        @include media-breakpoint-up(lg) {
            padding-top: rem(35);
        }
    }
    .bh-13__subContainer-img-contain {
        margin-top: rem(-140);
        @include media-breakpoint-up(md) {
            margin-top: rem(-95);
        }
        @include media-breakpoint-up(lg) {
            margin-top: rem(-140);
        }
    }
    .bh-11__container-ftr {
        @include media-breakpoint-up(md) {
            margin-top: 30px;
        }
    }
    .bh-11__container-items {
        padding-bottom: rem(38);
    }
    &__hero-subContainer {
        padding-top: rem(35);
        &-img-contain {
            margin-top: -24.6%;
            padding-right: rem(21) !important;
            padding-left: rem(21) !important;
            margin-bottom: rem(13);
            img {
                border-radius: rem(17);
                box-shadow: 8px 8px 50px 0 rgba(0, 0, 0, 0.2);
            }
            @include media-breakpoint-up(md) {
                margin-top: -18.6%;
            }
        }
        &-content {
            padding-top: rem(10);
            text-align: center;
            p {
                font-size: 16px;
                opacity: $copy-opacity;
            }
            .btn {
                margin: rem(20) rem(10);
            }
        }
    }
    &__list-container {
        padding-top: rem(40);
        padding-bottom: rem(40);
        margin-right: rem(10);
        margin-left: rem(10);
        &-headline {
            margin-bottom: rem(20);
        }
        &-items {
            &-item {
                position: relative;
                margin: 0;
                padding: rem(25) rem(10) rem(25) rem(40);
                opacity: $copy-opacity;
                border-bottom: $section-border;
                line-height: 1.45;
                &:last-of-type {
                    border-bottom: 0;
                }
                &:before {
                    font-family: 'boh-icons';
                    content: '\E003';
                    color: $light-blue;
                    font-size: 13px;
                    position: absolute;
                    left: rem(8);
                    top: rem(23);
                }
                @include media-breakpoint-up(md) {
                    padding: rem(20) rem(0) rem(20) rem(40);
                    letter-spacing: -0.2px; 
                }
            }
        }
        @include media-breakpoint-up(md) {
            padding-top: rem(60);
            padding-bottom: rem(60);
        }
    }
    &__affirm-container {
        &-wrap {
            border-radius: 6px;
            padding: rem(8) rem(20);
            background-color: $bg-grey;
            label {
                padding: 15px 0 15px 35px;
                font-family: $font-body;
                font-size: 12px;
                font-weight: 500;
                text-align: left;
                color: $dilute-grey;
                cursor: pointer;
                position: relative;
                z-index: 2;
                transition: color .1s ease-in;
                overflow: hidden;
                &:hover {
                    opacity: 1;
                }
                &:after {
                    width: 20px;
                    height: 20px;
                    content: ' ';
                    border: 2px solid $outline-grey;
                    border-radius: 5px;
                    z-index: 2;
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: background-color .1s ease-in;
                }
            }

            input:checked ~ label {

                &:after {
                    background-color: $light-blue;
                    border-color: $light-blue;
                    font-family: 'boh-icons';
                    content: '\E003';
                    color: $white;
                    font-size: 10px;
                    line-height: 1.65;
                    text-align: center;
                }
            }

            input[disabled="disabled"] ~ label {
                color: $dark-grey;
                pointer-events: none;
                opacity: 0.4;
            }

            input {
                width: 1px;
                height: 1px;
                order: 1;
                z-index: -1;
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                visibility: hidden;
            }
        }
    }
    &__cta-container {
        &-wrap {
            margin-top: rem(20);
            text-align: center;
            @include media-breakpoint-up(md) {
                margin-top: rem(66);
            }
            @include media-breakpoint-up(lg) {
                margin-top: rem(80);
            }
        }
    }
    &__options-container {
        padding: rem(20);
        padding-bottom: rem(40);
        &-seperator {
            margin: 0 3%;
            font-size: 30px;
            color: $cloud;
            font-weight: 200;
        }
        @include media-breakpoint-up(md) {
            padding-bottom: rem(66);
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: rem(80);
        }
    }
}