.site-wrapper {
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    @include media-breakpoint-up(xl) {
        margin: 0 auto;
    }

    .main-content {
        margin-left: 0;
        transition: margin-left .33s ease-in-out;
        position: relative;
        @include media-breakpoint-up(xl) {
            margin-left: 300px;
        }
        @include media-breakpoint-up(fullscreen) {
            margin-left: 390px;
        }
    }
    .wrapper-screen {
        margin-bottom: 0;
        margin-left: 0;
        transition: margin-left .33s ease-in-out;
        min-height: 100vh;
        position: relative;
        width: 100%;

        .screen__hero {
            width: 100%;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 2;
            height: rem(549);
            min-height: rem(550);
            @include media-breakpoint-up(md) {
                height: rem(719);
                min-height: rem(720);
            }
            @include media-breakpoint-up(lg) {
                height: rem(699);
                min-height: rem(700);
            }
            @include media-breakpoint-up(fullscreen) {
                height: rem(939);
                min-height: rem(940);
            }
        }

        .screen__content {
            position: relative;
            z-index: 3;
            background: white;
            box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.05);
            padding: 0;
        }
        footer {
            background: $light-grey;
        }
    }
}


