@include media-breakpoint-down(md) {
    .hide-mobile {
        display:none;
    }
    .btn-filter div {
        height: 20px;
        width: 20px;
    }
    .btn-group {
        width: 90%;
    }
    .branch-finder {
        height: 100%;
        max-height: 100%;
    }
}